/* pygments default style (with modification to adapt to dark background) */
.hll { background-color: #FFFFFF }
.c { color: #95D5D5; font-style: italic } /* Comment */
.err { border: 1px solid #FFAAAA } /* Error */
.k { color: #77F777; font-weight: bold } /* Keyword */
.o { color: #FFFFFF } /* Operator */
.ch { color: #95D5D5; font-style: italic } /* Comment.Hashbang */
.cm { color: #95D5D5; font-style: italic } /* Comment.Multiline */
.cp { color: #EFAD33 } /* Comment.Preproc */
.cpf { color: #95D5D5; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #95D5D5; font-style: italic } /* Comment.Single */
.cs { color: #95D5D5; font-style: italic } /* Comment.Special */
.gd { color: #FAAAAA} /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FFAAAA } /* Generic.Error */
.gh { color: #AAAAFA); font-weight: bold } /* Generic.Heading */
.gi { color: #55F555 } /* Generic.Inserted */
.go { color: #BBBBBB } /* Generic.Output */
.gp { color: #AAAAFA; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #F777F7; font-weight: bold } /* Generic.Subheading */
.gt { color: #66AAFF } /* Generic.Traceback */
.kc { color: #77F777; font-weight: bold } /* Keyword.Constant */
.kd { color: #77F777; font-weight: bold } /* Keyword.Declaration */
.kn { color: #77F777; font-weight: bold } /* Keyword.Namespace */
.kp { color: #77F777 } /* Keyword.Pseudo */
.kr { color: #77F777; font-weight: bold } /* Keyword.Reserved */
.kt { color: #F777B7 } /* Keyword.Type */
.m { color: #FFFFFF } /* Literal.Number */
.s { color: #FFA9A9 } /* Literal.String */
.na { color: #DFF68F } /* Name.Attribute */
.nb { color: #77F777 } /* Name.Builtin */
.nc { color: #AAAAFF; font-weight: bold } /* Name.Class */
.no { color: #FFAAAA } /* Name.Constant */
.nd { color: #DD55FF } /* Name.Decorator */
.ni { color: #CCCCCC; font-weight: bold } /* Name.Entity */
.ne { color: #F8A78F; font-weight: bold } /* Name.Exception */
.nf { color: #AAAAFF } /* Name.Function */
.nl { color: #D4D444 } /* Name.Label */
.nn { color: #AAAAFF; font-weight: bold } /* Name.Namespace */
.nt { color: #77F777; font-weight: bold } /* Name.Tag */
.nv { color: #9F9FFF } /* Name.Variable */
.ow { color: #DD55FF; font-weight: bold } /* Operator.Word */
.w { color: #EEEEEE } /* Text.Whitespace */
.mb { color: #FFFFFF } /* Literal.Number.Bin */
.mf { color: #FFFFFF } /* Literal.Number.Float */
.mh { color: #FFFFFF } /* Literal.Number.Hex */
.mi { color: #FFFFFF } /* Literal.Number.Integer */
.mo { color: #FFFFFF } /* Literal.Number.Oct */
.sa { color: #FFA9A9 } /* Literal.String.Affix */
.sb { color: #FFA9A9 } /* Literal.String.Backtick */
.sc { color: #FFA9A9 } /* Literal.String.Char */
.dl { color: #FFA9A9 } /* Literal.String.Delimiter */
.sd { color: #FFA9A9; font-style: italic } /* Literal.String.Doc */
.s2 { color: #FFA9A9 } /* Literal.String.Double */
.se { color: #FFAA66; font-weight: bold } /* Literal.String.Escape */
.sh { color: #FFA9A9 } /* Literal.String.Heredoc */
.si { color: #EE99BB; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #77F777 } /* Literal.String.Other */
.sr { color: #EE99BB } /* Literal.String.Regex */
.s1 { color: #FFA9A9 } /* Literal.String.Single */
.ss { color: #9F9FFF } /* Literal.String.Symbol */
.bp { color: #77F777 } /* Name.Builtin.Pseudo */
.fm { color: #AAAAFF } /* Name.Function.Magic */
.vc { color: #9F9FFF } /* Name.Variable.Class */
.vg { color: #9F9FFF } /* Name.Variable.Global */
.vi { color: #9F9FFF } /* Name.Variable.Instance */
.vm { color: #9F9FFF } /* Name.Variable.Magic */
.il { color: #FFFFFF } /* Literal.Number.Integer.Long */
