html, body {
    margin: 0;
    padding: 0;
    line-height: normal;
}

#pageTitle {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 20px 5px;
    background-color: rgba(0, 0, 0, .9);
    border-bottom: solid 1px rgba(255, 255, 255, .2);
}

body {
    font-family: serif;
    color: white;
    background-color: rgb(2, 2, 2);
    background-image:
        linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
    background-size: 80px 80px, 80px 80px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-attachment: fixed;
}

main {
    margin: 16px;
}

div.card {
    background-color: rgba(0, 0, 0, .7);
    margin-bottom: 20px;
    padding: 10px;
    border: solid 1px rgba(255, 255, 255, .2);
}

hr {
    border: none;
}

pre, .console {
    background-color: #021b21;
    padding: 10px;
    opacity: .8;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

footer {
    padding: 10px;
    text-align: justify;
}

#footerNote {
    padding: 5px;
    opacity: .6;
}
